#color-palette {
  width: 20px;
  height: 20px;
  display: inline-flex;
  margin-left: 390px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.color {
  border: 1px solid black;
  padding: 30px;
  display: inline-block;
}

#button-random-color {
  display: block;
  color: white;
  background-color: black;
  border-color: blue;
  margin-left: 465px;
}

.createDivs {
  width: 235px;
  height: 235px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 400px;
}
.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  display: inline-table;
}

h1 {
  margin-left: 440px;
  margin-bottom: 50px;
}

#clear-board {
  width: 100px;
  margin-left: 470px;
  display: inline-block;
  text-align: center;
  background-color: black;
  border-color: blue;
  color: white;
}
