#color-palette {
  width: 20px;
  height: 20px;
  display: inline-flex;
  margin-left: 1px;
}

.color {
  border: 1px solid black;
  padding: 30px;
  display: inline-block;
}

#button-random-color {
  display: block;
  color: white;
  background-color: black;
  border-color: blue;
}
